# Actividad de Clase 3: Manipulación de Repositorios y Archivos en GitHub

## Ejercicios de Datos Simples:

### 1.Datos Simples

#### Crear una lista de nombres de ciudades.

In [96]:
ciudades = ["Ushuaia", "Jujuy", "Misiones", "La Plata", "Tucumán"]
print(ciudades)

['Ushuaia', 'Jujuy', 'Misiones', 'La Plata', 'Tucumán']

### 1.Datos Simples

#### Crear un diccionario con información de empleados (nombre, cargo, salario).

In [97]:
empleados = {
    1: {"nombre": "Daniel", "cargo": "Gerente", "salario": 45000},
    2: {"nombre": "Matias", "cargo": "Desarrollador", "salario": 30000},
    3: {"nombre": "Leonardo", "cargo": "Analista de Datos", "salario": 42000},
    4: {"nombre": "Monica", "cargo": "Diseñadora ", "salario": 65000}
}
print("nombre", "Daniel", "cargo", "Gerente", "salario", "45000")
print("nombre", "Matias", "cargo", "Desarrollador", "salario", "30000")
print("nombre", "Leonardo", "cargo", "Analista de Datos", "salario", "42000")
print("nombre", "Monica", "cargo", "Diseñadora ", "salario", "65000")

nombre Daniel cargo Gerente salario 45000
nombre Matias cargo Desarrollador salario 30000
nombre Leonardo cargo Analista de Datos salario 42000
nombre Monica cargo Diseñadora  salario 65000

### 1.Datos Simples

#### Mostrar cómo acceder a un elemento específico en una lista

In [98]:
nombres = ["Daniel", "Matias", "Leonardo", "Monica"]
segundo_nombre = nombres[1]
print("Segundo nombre en la lista:", segundo_nombre)

Segundo nombre en la lista: Matias

### 1.Datos Simples

### 1.Manipulación de Listas y Métodos:

#### Crea una lista inicial de números enteros.

In [99]:
numeros = [5, 10, 15, 20]

numeros.append(25)
print("Después de agregar un número al final:", numeros)

numeros.extend([30, 35, 40])
print("Después de agregar múltiples elementos:", numeros)

numeros.insert(2, 12) 
print("Después de insertar un número en una posición específica:", numeros)

numeros.sort()
print("Después de ordenar la lista de números de forma ascendente:", numeros)

Después de agregar un número al final: [5, 10, 15, 20, 25]
Después de agregar múltiples elementos: [5, 10, 15, 20, 25, 30, 35, 40]
Después de insertar un número en una posición específica: [5, 10, 12, 15, 20, 25, 30, 35, 40]
Después de ordenar la lista de números de forma ascendente: [5, 10, 12, 15, 20, 25, 30, 35, 40]

### 1.Datos Simples

### 2.Manipulación de Diccionarios y Métodos:

#### Crea un diccionario con información de productos (nombre del producto, precio, cantidad en stock).

In [100]:
productos = {
    "remera": {"precio": 20000, "cantidad en stock": 50},
    "zapatilla": {"precio": 65000, "cantidad en stock": 30},
    "pantalon": {"precio": 60000, "cantidad en stock": 20}
}

nombres_productos = list(productos.keys())
print("Nombres de productos:", nombres_productos)

valores_productos = list(productos.values())
print("Valores de productos:", valores_productos)

items_productos = list(productos.items())
print("Pares clave-valor de productos:", items_productos)

precio_remera = productos.get("remera").get("precio")
print("Precio de la remera:", precio_remera)

Nombres de productos: ['remera', 'zapatilla', 'pantalon']
Valores de productos: [{'precio': 20000, 'cantidad en stock': 50}, {'precio': 65000, 'cantidad en stock': 30}, {'precio': 60000, 'cantidad en stock': 20}]
Pares clave-valor de productos: [('remera', {'precio': 20000, 'cantidad en stock': 50}), ('zapatilla', {'precio': 65000, 'cantidad en stock': 30}), ('pantalon', {'precio': 60000, 'cantidad en stock': 20})]
Precio de la remera: 20000

### 2.Datos Complejos:

#### Crear una lista de diccionarios que represente información de libros (título, autor, año de publicación).

In [101]:
libros_secundaria = [
    {"título": "Matemáticas I", "autor": "Pepe", "año de publicación": 2010},
    {"título": "Historia Universal", "autor": "Jose", "año de publicación": 2008},
    {"título": "Biología Avanzada", "autor": "Aldo", "año de publicación": 2015}
]
print("libros_secundaria:")
for libros_secundaria in libros_secundaria:
    print("- Título:", libros_secundaria["título"])
    print("  Autor:", libros_secundaria["autor"])
    print("  Año de publicación:", libros_secundaria["año de publicación"])

libros_secundaria:
- Título: Matemáticas I
  Autor: Pepe
  Año de publicación: 2010
- Título: Historia Universal
  Autor: Jose
  Año de publicación: 2008
- Título: Biología Avanzada
  Autor: Aldo
  Año de publicación: 2015

### 2.Datos Complejos:

#### Crear un diccionario que contenga listas como valores (por ejemplo, un diccionario de estudiantes y sus materias).

In [102]:
estudiantes_materias = {
    "Juan": ["Matemáticas", "Física", "Química"],
    "María": ["Literatura", "Historia", "Arte"]
}

print("\nDiccionario de estudiantes y sus materias:", estudiantes_materias)

Diccionario de estudiantes y sus materias: {'Juan': ['Matemáticas', 'Física', 'Química'], 'María': ['Literatura', 'Historia', 'Arte']}

### 2.Datos Complejos:

#### Mostrar cómo modificar un valor en una lista dentro de un diccionario y viceversa.

In [103]:

estudiantes_materias["Juan"][0] = "Biología"
print("\nDespués de modificar la materia de Juan:", estudiantes_materias)

Después de modificar la materia de Juan: {'Juan': ['Biología', 'Física', 'Química'], 'María': ['Literatura', 'Historia', 'Arte']}